ops/n8n/workflow.shift.json
{"name":"Shift Intelligence Report","nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 7,15,23 * * *"}]}},"id":"3a091656-5f6b-4b2a-9b5f-c8e43776522b","name":"Shift End Schedule","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[240,320]},{"parameters":{"language":"javaScript","jsCode":"const now = new Date();\nconst hr  = now.getHours();\nlet shiftLabel;\nif (hr === 7)        shiftLabel = \u0027A\u0027;\nelse if (hr === 15)  shiftLabel = \u0027B\u0027;\nelse                 shiftLabel = \u0027C\u0027;\nconst shiftEnd = new Date(now); shiftEnd.setMinutes(0,0,0);\nconst shiftStart = new Date(shiftEnd.getTime() - 8 * 60 * 60 * 1000);\nconst date = shiftEnd.toISOString().slice(0, 10);\nreturn [{ json: {\n  shift_id:    \\-\\,\n  shift_label: shiftLabel,\n  shift_start: shiftStart.toISOString(),\n  shift_end:   shiftEnd.toISOString(),\n}}];"},"id":"8b9756f6-c815-417b-92b6-af87ae3b71ea","name":"Compute Shift Window","type":"n8n-nodes-base.code","typeVersion":2,"position":[480,320]},{"parameters":{"operation":"executeQuery","query":"SELECT severity, category, COUNT(*) AS n FROM incidents WHERE detected_at BETWEEN $1 AND $2 GROUP BY severity, category;","options":{"queryReplacement":"={{ $json.shift_start }},{{ $json.shift_end }}"}},"id":"58f7e704-2293-4878-8866-4706ec25ce95","name":"Q: Incidents","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[720,200],"credentials":{"postgres":{"id":"MES-POSTGRES","name":"MES Postgres"}}},{"parameters":{"operation":"executeQuery","query":"SELECT component, status, COUNT(*) AS n FROM recovery_log WHERE occurred_at BETWEEN $1 AND $2 GROUP BY component, status;","options":{"queryReplacement":"={{ $(\"Compute Shift Window\").item.json.shift_start }},{{ $(\"Compute Shift Window\").item.json.shift_end }}"}},"id":"4b706fc1-76b5-4f7c-a0fa-8e2aadac4bbd","name":"Q: Recovery Log","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[720,320],"credentials":{"postgres":{"id":"MES-POSTGRES","name":"MES Postgres"}}},{"parameters":{"operation":"executeQuery","query":"SELECT verdict, COUNT(*) AS n FROM video_inspections WHERE inspected_at BETWEEN $1 AND $2 GROUP BY verdict;","options":{"queryReplacement":"={{ $(\"Compute Shift Window\").item.json.shift_start }},{{ $(\"Compute Shift Window\").item.json.shift_end }}"}},"id":"8073b244-6af0-4a93-8e59-e5bd5269594d","name":"Q: Video Inspections","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[720,440],"credentials":{"postgres":{"id":"MES-POSTGRES","name":"MES Postgres"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","numberInputs":3,"options":{}},"id":"8827ca3b-bd9a-42ae-a3b6-20f3dab62366","name":"Merge Shift Data","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[960,320]},{"parameters":{"promptType":"define","text":"You are reporting on a manufacturing shift at the Toyota Boshoku Bawal MES plant.\n\nShift window: {{ $(\u0027Compute Shift Window\u0027).item.json.shift_start }} -\u003e {{ $(\u0027Compute Shift Window\u0027).item.json.shift_end }} (Shift {{ $(\u0027Compute Shift Window\u0027).item.json.shift_label }})\n\nIncidents in window: {{ JSON.stringify($(\u0027Q: Incidents\u0027).all().map(x =\u003e x.json)) }}\nRecovery actions: {{ JSON.stringify($(\u0027Q: Recovery Log\u0027).all().map(x =\u003e x.json)) }}\nVideo inspections: {{ JSON.stringify($(\u0027Q: Video Inspections\u0027).all().map(x =\u003e x.json)) }}\n\nWrite a one-paragraph AI summary, list top issues with trend arrows, and produce 2-3 prioritized recommendations. Be specific.","hasOutputParser":true,"options":{}},"id":"8bfd6083-36de-42b7-82fc-956433f524d0","name":"Shift Intelligence Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1200,320]},{"parameters":{"model":{"__rl":true,"mode":"list","value":"llama-3.3-70b-versatile"},"options":{"baseURL":"https://api.groq.com/openai/v1","temperature":0.3,"maxTokens":2500}},"id":"99f45901-6f43-41f0-9b5c-2f20cdabc3be","name":"Groq Model for Shift","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[1120,540],"credentials":{"openAiApi":{"id":"MES-GROQ","name":"MES Groq"}}},{"parameters":{"schemaType":"fromJson","jsonSchemaExample":"{\"ai_summary\":\"Shift B (15:00-23:00 IST) saw 3 incidents (1 critical, 2 medium). The critical was a camera RTSP drop auto-recovered in 42s. Recovery success 100%.\",\"top_issues\":[{\"issue\":\"Camera RTSP drops\",\"count\":2,\"trend\":\"up\"}],\"ai_recommendations\":[{\"priority\":\"high\",\"action\":\"Investigate CAM005 PoE link\"}],\"kpis\":{\"incidents\":3,\"auto_remediated\":3,\"escalated\":0,\"ng_count\":12,\"ct_drift_alerts\":0}}"},"id":"4a4a91b4-7e23-4aa1-803e-a775e838d833","name":"Shift Schema","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[1320,540]},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"mode":"name","value":"shift_reports"},"columns":{"mappingMode":"defineBelow","value":{"shift_id":"={{ $(\"Compute Shift Window\").item.json.shift_id }}","shift_start":"={{ $(\"Compute Shift Window\").item.json.shift_start }}","shift_end":"={{ $(\"Compute Shift Window\").item.json.shift_end }}","incidents_count":"={{ $json.output.kpis.incidents }}","auto_remediated":"={{ $json.output.kpis.auto_remediated }}","escalated":"={{ $json.output.kpis.escalated }}","ng_count":"={{ $json.output.kpis.ng_count }}","ct_drift_alerts":"={{ $json.output.kpis.ct_drift_alerts }}","top_issues":"={{ JSON.stringify($json.output.top_issues) }}","ai_summary":"={{ $json.output.ai_summary }}","ai_recommendations":"={{ JSON.stringify($json.output.ai_recommendations) }}","raw_agent_output":"={{ JSON.stringify($json.output) }}"}},"options":{}},"id":"2f3220d6-f14a-4c8d-bfe8-e302cf53effa","name":"Persist Shift Report","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1440,320],"credentials":{"postgres":{"id":"MES-POSTGRES","name":"MES Postgres"}}},{"parameters":{"sendTo":"={{ $env.OPS_LEADERSHIP_EMAIL }}","subject":"=Shift {{ $(\"Compute Shift Window\").item.json.shift_label }} report ({{ $(\"Compute Shift Window\").item.json.shift_id }})","emailType":"text","message":"={{ $(\"Shift Intelligence Agent\").item.json.output.ai_summary }}\\n\\nTop issues:\\n{{ JSON.stringify($(\"Shift Intelligence Agent\").item.json.output.top_issues, null, 2) }}\\n\\nRecommendations:\\n{{ JSON.stringify($(\"Shift Intelligence Agent\").item.json.output.ai_recommendations, null, 2) }}\\n\\nKPIs:\\n{{ JSON.stringify($(\"Shift Intelligence Agent\").item.json.output.kpis, null, 2) }}","options":{}},"id":"e629debb-db03-48ec-a8c5-3686e67a3f24","name":"Email Leadership","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1680,240],"credentials":{"gmailOAuth2":{"id":"MES-GMAIL","name":"MES Gmail"}}},{"parameters":{"resource":"message","select":"channel","channelId":{"__rl":true,"mode":"name","value":"={{ $env.SLACK_CHANNEL_HIGH }}"},"text":"=:bar_chart: *Shift {{ $(\"Compute Shift Window\").item.json.shift_label }} report* ({{ $(\"Compute Shift Window\").item.json.shift_id }})\\n_{{ $(\"Shift Intelligence Agent\").item.json.output.ai_summary }}_","otherOptions":{}},"id":"f6615151-c768-4380-856a-2e5fb821211e","name":"Slack Supervisor","type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[1680,400],"credentials":{"slackApi":{"id":"MES-SLACK","name":"MES Slack Bot"}}}],"connections":{"Shift End Schedule":{"main":[[{"node":"Compute Shift Window","type":"main","index":0}]]},"Groq Model for Shift":{"ai_languageModel":[[{"node":"Shift Intelligence Agent","type":"ai_languageModel","index":0}]]},"Q: Video Inspections":{"main":[[{"node":"Merge Shift Data","type":"main","index":2}]]},"Shift Intelligence Agent":{"main":[[{"node":"Persist Shift Report","type":"main","index":0}]]},"Q: Recovery Log":{"main":[[{"node":"Merge Shift Data","type":"main","index":1}]]},"Persist Shift Report":{"main":[[{"node":"Email Leadership","type":"main","index":0},{"node":"Slack Supervisor","type":"main","index":0}]]},"Shift Schema":{"ai_outputParser":[[{"node":"Shift Intelligence Agent","type":"ai_outputParser","index":0}]]},"Q: Incidents":{"main":[[{"node":"Merge Shift Data","type":"main","index":0}]]},"Merge Shift Data":{"main":[[{"node":"Shift Intelligence Agent","type":"main","index":0}]]},"Compute Shift Window":{"main":[[{"node":"Q: Incidents","type":"main","index":0},{"node":"Q: Recovery Log","type":"main","index":0},{"node":"Q: Video Inspections","type":"main","index":0}]]}},"active":false,"settings":{"executionOrder":"v1","timezone":"Asia/Kolkata","executionTimeout":300,"saveDataErrorExecution":"all","saveDataSuccessExecution":"none","saveManualExecutions":true,"saveExecutionProgress":false},"pinData":{},"meta":{},"tags":[]}
