ops/n8n/workflow.knowledge-engine.json
{"name":"AI Knowledge Engine","nodes":[{"parameters":{"httpMethod":"POST","path":"63f0bfe8-0388-46c8-a134-b0032aa0ab6c","responseMode":"responseNode","options":{}},"id":"3e5df395-d423-4aa3-8c96-41e42f77e153","name":"Knowledge Query Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[240,320],"webhookId":"4ddbf400-5262-40e5-a3d1-345b3d3da76f"},{"parameters":{"mode":"manual","assignments":{"assignments":[{"id":"d73abd7f-6a1b-4698-8abc-de22c80ccb2d","name":"user_id","value":"={{ $json.body.user_id || \u0027anonymous\u0027 }}","type":"string"},{"id":"6d676d30-14b9-4d7a-9d3a-d150c21402f7","name":"question","value":"={{ $json.body.question }}","type":"string"},{"id":"d01110c2-d870-4811-bc9f-46297b7f1982","name":"top_k","value":"={{ $json.body.top_k || 5 }}","type":"number"}]},"options":{}},"id":"cf577faf-89b6-4528-bdce-5905472d4f00","name":"Extract Query","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[440,320]},{"parameters":{"mode":"load","topK":"={{ $json.top_k }}","prompt":"={{ $json.question }}","pineconeIndex":{"__rl":true,"mode":"name","value":"={{ $env.PINECONE_INDEX }}"},"options":{}},"id":"281f15e7-5d6f-4e26-88da-314b5855be29","name":"Pinecone Retrieve","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.1,"position":[680,320],"credentials":{"pineconeApi":{"id":"MES-PINECONE","name":"MES Pinecone"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"nomic-embed-text"},"options":{"baseURL":"http://ollama:11434/v1"}},"id":"ef7b7eed-4fa1-4b68-bc15-a0d504f1f619","name":"Ollama Embeddings","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[600,540],"credentials":{"openAiApi":{"id":"MES-OLLAMA","name":"MES Ollama (dummy key)"}}},{"parameters":{"promptType":"define","text":"You are the MES knowledge assistant for the Toyota Boshoku Bawal plant. An operator asked:\n\n  \u0027{{ $(\u0027Extract Query\u0027).item.json.question }}\u0027\n\nThese are the most semantically similar past incidents + CAPAs from our vector memory (Pinecone):\n{{ JSON.stringify($json.documents || $json) }}\n\nUse ONLY the retrieved context. Answer in plain English, 2-4 sentences. If the context does not contain the answer, say so. Cite the source incident IDs.\n\nReturn JSON: {answer, sources (incident_ids), confidence (0..1)}","hasOutputParser":true,"options":{}},"id":"5eb5acba-8021-42b1-81e3-3e486242a5b8","name":"Knowledge AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[900,320]},{"parameters":{"model":{"__rl":true,"mode":"list","value":"llama-3.3-70b-versatile"},"options":{"baseURL":"https://api.groq.com/openai/v1","temperature":0.1,"maxTokens":1500}},"id":"a348cc99-e02e-4717-bbf8-3bbd69340858","name":"Groq Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[820,540],"credentials":{"openAiApi":{"id":"MES-GROQ","name":"MES Groq"}}},{"parameters":{"schemaType":"fromJson","jsonSchemaExample":"{\"answer\":\"This issue matches breakdown #482 from March. Hydraulic valve replacement fixed it; preventive action was a monthly pressure-sensor calibration.\",\"sources\":[482,491,523],\"confidence\":0.84}"},"id":"f6f2a78d-60d2-432f-a36b-709e0f5a1501","name":"Knowledge Schema","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[1020,540]},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"mode":"name","value":"knowledge_qa"},"columns":{"mappingMode":"defineBelow","value":{"user_id":"={{ $(\"Extract Query\").item.json.user_id }}","question":"={{ $(\"Extract Query\").item.json.question }}","answer":"={{ $json.output.answer }}","sources":"={{ JSON.stringify($json.output.sources) }}","confidence":"={{ $json.output.confidence }}"}},"options":{}},"id":"39a5abd8-f910-40c3-9038-c31c7f290a8e","name":"Persist Q\u0026A","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1140,320],"credentials":{"postgres":{"id":"MES-POSTGRES","name":"MES Postgres"}}},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ok:true, answer: $(\"Knowledge AI Agent\").item.json.output.answer, sources: $(\"Knowledge AI Agent\").item.json.output.sources, confidence: $(\"Knowledge AI Agent\").item.json.output.confidence}) }}","options":{}},"id":"3f12de00-8e6c-493c-aba2-880af6025621","name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1380,320]}],"connections":{"Groq Model":{"ai_languageModel":[[{"node":"Knowledge AI Agent","type":"ai_languageModel","index":0}]]},"Extract Query":{"main":[[{"node":"Pinecone Retrieve","type":"main","index":0}]]},"Pinecone Retrieve":{"main":[[{"node":"Knowledge AI Agent","type":"main","index":0}]]},"Knowledge AI Agent":{"main":[[{"node":"Persist Q\u0026A","type":"main","index":0}]]},"Ollama Embeddings":{"ai_embedding":[[{"node":"Pinecone Retrieve","type":"ai_embedding","index":0}]]},"Persist Q\u0026A":{"main":[[{"node":"Respond","type":"main","index":0}]]},"Knowledge Schema":{"ai_outputParser":[[{"node":"Knowledge AI Agent","type":"ai_outputParser","index":0}]]},"Knowledge Query Webhook":{"main":[[{"node":"Extract Query","type":"main","index":0}]]}},"active":false,"settings":{"executionOrder":"v1","timezone":"Asia/Kolkata","executionTimeout":300,"saveDataErrorExecution":"all","saveDataSuccessExecution":"none","saveManualExecutions":true,"saveExecutionProgress":false},"pinData":{},"meta":{},"tags":[]}
