ops/n8n/workflow.capa.json
{"name":"CAPA Generation","nodes":[{"parameters":{"httpMethod":"POST","path":"bb88afdd-8057-47f0-b0b7-b5a77b8f6ba9","options":{}},"id":"e1f6620c-920d-410f-80e3-69157d8e03c6","name":"CAPA Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[240,320],"webhookId":"08bf6f9f-7377-4ddb-8ee8-87159cec3aba"},{"parameters":{"operation":"executeQuery","query":"SELECT id, service, severity, category, root_cause, recommended_action, metrics_snapshot, detected_at FROM incidents WHERE id = $1 LIMIT 1;","options":{"queryReplacement":"={{ $json.body.incident_id }}"}},"id":"bd6a11a4-b304-4af7-8495-393b42d0fb0b","name":"Fetch Incident","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[480,320],"credentials":{"postgres":{"id":"MES-POSTGRES","name":"MES Postgres"}}},{"parameters":{"mode":"manual","assignments":{"assignments":[{"id":"8521b7e5-f874-49ef-91e7-9813b2ea81a6","name":"incident_id","value":"={{ $json.id }}","type":"number"},{"id":"5c308cb4-7548-4aae-9acc-acbc508b2fe5","name":"service","value":"={{ $json.service }}","type":"string"},{"id":"c2d94765-c56c-4d9a-a163-05c621324e91","name":"severity","value":"={{ $json.severity }}","type":"string"},{"id":"a6c07b0d-0f39-4560-9c1a-efe3f82a435c","name":"category","value":"={{ $json.category }}","type":"string"},{"id":"d2f01cc7-4889-48d7-8af3-014ed0c509bf","name":"root_cause","value":"={{ $json.root_cause }}","type":"string"},{"id":"f6ad2951-f7b5-4768-8640-570f89f2f239","name":"recommended_action","value":"={{ $json.recommended_action }}","type":"string"},{"id":"3051f3d8-80d9-4756-89a8-fee2a5c28c1d","name":"metrics_snapshot","value":"={{ $json.metrics_snapshot }}","type":"string"}]},"options":{}},"id":"208f424b-1654-4972-8e9e-967294083458","name":"Build Context","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[720,320]},{"parameters":{"promptType":"define","text":"You are a senior reliability engineer at Toyota Boshoku Device India\u0027s Bawal MES plant. An incident has occurred and an automated triage has classified it. Your job is to produce a CAPA (Corrective + Preventive Action) record.\n\nIncident:\nservice: {{ $json.service }}\nseverity: {{ $json.severity }}\ncategory: {{ $json.category }}\nprobable_root_cause: {{ $json.root_cause }}\nrecommended_action: {{ $json.recommended_action }}\nmetrics_snapshot: {{ $json.metrics_snapshot }}\n\nOutput a CAPA JSON. Be specific. \"Add monitoring\" is not specific; \"Add Prometheus alert when fusion queue depth \u003e 500 for 60s\" is specific.","hasOutputParser":true,"options":{}},"id":"d8be1d4f-f892-4000-af31-5ba20f4253c3","name":"CAPA AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[960,320]},{"parameters":{"model":{"__rl":true,"mode":"list","value":"llama-3.3-70b-versatile"},"options":{"baseURL":"https://api.groq.com/openai/v1","temperature":0.2,"maxTokens":2000}},"id":"7e1ef476-1886-49c3-8a88-6be829973ef8","name":"Groq Model for CAPA","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[880,540],"credentials":{"openAiApi":{"id":"MES-GROQ","name":"MES Groq"}}},{"parameters":{"schemaType":"fromJson","jsonSchemaExample":"{\"summary_title\":\"Camera CAM003 RTSP drop\",\"root_cause\":\"RTSP keepalive timeout\",\"corrective_action\":[\"Replace PoE cable\"],\"preventive_action\":[\"Add port-flap alert\"],\"owner\":\"maintenance\",\"due_at\":\"2026-05-23T18:00:00+05:30\",\"severity\":\"high\",\"ai_confidence\":0.82}"},"id":"45dccf96-6b21-4484-a6ce-181aed13ae8a","name":"CAPA Schema","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[1080,540]},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"mode":"name","value":"capas"},"columns":{"mappingMode":"defineBelow","value":{"incident_id":"={{ $(\\\"Build Context\\\").item.json.incident_id }}","title":"={{ $json.output.summary_title }}","root_cause":"={{ $json.output.root_cause }}","corrective_action":"={{ JSON.stringify($json.output.corrective_action) }}","preventive_action":"={{ JSON.stringify($json.output.preventive_action) }}","owner":"={{ $json.output.owner }}","due_at":"={{ $json.output.due_at }}","severity":"={{ $json.output.severity }}","ai_confidence":"={{ $json.output.ai_confidence }}","raw_agent_output":"={{ JSON.stringify($json.output) }}"}},"options":{}},"id":"4cef7f2b-ea38-47e5-b54d-8890c2f95b2f","name":"Persist CAPA","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1200,320],"credentials":{"postgres":{"id":"MES-POSTGRES","name":"MES Postgres"}}},{"parameters":{"resource":"message","select":"channel","channelId":{"__rl":true,"mode":"name","value":"={{ $env.SLACK_CHANNEL_MAINTENANCE }}"},"text":"=:wrench: New CAPA: _{{ $(\"CAPA AI Agent\").item.json.output.summary_title }}_  ({{ $(\"CAPA AI Agent\").item.json.output.severity }} / owner {{ $(\"CAPA AI Agent\").item.json.output.owner }} / due {{ $(\"CAPA AI Agent\").item.json.output.due_at }})","otherOptions":{}},"id":"7f3fdb52-ad0f-439d-be8e-8bf63a355b59","name":"Notify Maintenance Slack","type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[1440,320],"credentials":{"slackApi":{"id":"MES-SLACK","name":"MES Slack Bot"}}},{"parameters":{"sendTo":"={{ $env.ESCALATE_MAINTENANCE }}","subject":"=[CAPA] {{ $(\"CAPA AI Agent\").item.json.output.summary_title }}","emailType":"text","message":"=Severity {{ $(\"CAPA AI Agent\").item.json.output.severity }} / Owner {{ $(\"CAPA AI Agent\").item.json.output.owner }} / Due {{ $(\"CAPA AI Agent\").item.json.output.due_at }}\\n\\nRoot cause: {{ $(\"CAPA AI Agent\").item.json.output.root_cause }}\\n\\nCorrective: {{ JSON.stringify($(\"CAPA AI Agent\").item.json.output.corrective_action) }}\\n\\nPreventive: {{ JSON.stringify($(\"CAPA AI Agent\").item.json.output.preventive_action) }}","options":{}},"id":"2db3a8ec-c424-4f83-a59f-43000da24f08","name":"Email Maintenance","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1680,320],"credentials":{"gmailOAuth2":{"id":"MES-GMAIL","name":"MES Gmail"}}}],"connections":{"CAPA AI Agent":{"main":[[{"node":"Persist CAPA","type":"main","index":0}]]},"Notify Maintenance Slack":{"main":[[{"node":"Email Maintenance","type":"main","index":0}]]},"Build Context":{"main":[[{"node":"CAPA AI Agent","type":"main","index":0}]]},"Fetch Incident":{"main":[[{"node":"Build Context","type":"main","index":0}]]},"Groq Model for CAPA":{"ai_languageModel":[[{"node":"CAPA AI Agent","type":"ai_languageModel","index":0}]]},"CAPA Schema":{"ai_outputParser":[[{"node":"CAPA AI Agent","type":"ai_outputParser","index":0}]]},"Persist CAPA":{"main":[[{"node":"Notify Maintenance Slack","type":"main","index":0}]]},"CAPA Webhook":{"main":[[{"node":"Fetch Incident","type":"main","index":0}]]}},"active":false,"settings":{"executionOrder":"v1","timezone":"Asia/Kolkata","executionTimeout":300,"saveDataErrorExecution":"all","saveDataSuccessExecution":"none","saveManualExecutions":true,"saveExecutionProgress":false},"pinData":{},"meta":{},"tags":[]}
