ops/n8n/workflow.spare-forecast.json
{"name":"AI Spare Part Failure Forecasting","nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 6 * * *"}]}},"id":"5a73b6d8-0c94-46fa-85bf-4d8ed59fcd63","name":"Spare Forecast Schedule","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[240,320]},{"parameters":{"operation":"executeQuery","query":"SELECT part_id, part_name, machine_id, COUNT(*) AS uses, SUM(quantity) AS total_qty, MAX(consumed_at) AS last_used, EXTRACT(EPOCH FROM (NOW() - MAX(consumed_at)))/86400 AS days_since_last_use FROM spare_parts_consumption WHERE consumed_at \u003e= NOW() - INTERVAL \u0027180 days\u0027 GROUP BY part_id, part_name, machine_id ORDER BY uses DESC LIMIT 50;","options":{}},"id":"388a1449-a19c-43cd-ac89-1119e9c2fa2d","name":"Q: Consumption (180d)","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[480,200],"credentials":{"postgres":{"id":"MES-POSTGRES","name":"MES Postgres"}}},{"parameters":{"operation":"executeQuery","query":"SELECT machine_id, predicted_failure, severity, COUNT(*) AS n FROM maintenance_tickets WHERE created_at \u003e= NOW() - INTERVAL \u002790 days\u0027 GROUP BY machine_id, predicted_failure, severity ORDER BY n DESC LIMIT 50;","options":{}},"id":"d711cfda-a8ff-46a6-a8b8-cae74d088f54","name":"Q: Recent Breakdowns","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[480,320],"credentials":{"postgres":{"id":"MES-POSTGRES","name":"MES Postgres"}}},{"parameters":{"operation":"executeQuery","query":"SELECT component, target_id, COUNT(*) AS attempts, COUNT(*) FILTER (WHERE status = \u0027failed\u0027) AS failures, COUNT(*) FILTER (WHERE status = \u0027escalated\u0027) AS escalations FROM recovery_log WHERE occurred_at \u003e= NOW() - INTERVAL \u002790 days\u0027 GROUP BY component, target_id ORDER BY failures + escalations DESC LIMIT 50;","options":{}},"id":"57029787-4096-4cc1-95f3-57e43191e639","name":"Q: Recovery Patterns","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[480,440],"credentials":{"postgres":{"id":"MES-POSTGRES","name":"MES Postgres"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","numberInputs":3,"options":{}},"id":"0e271aca-df45-4710-abbd-3e43005be782","name":"Merge Signals","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[720,320]},{"parameters":{"promptType":"define","text":"You are forecasting which spare parts will fail or run low in the next 14-30 days at the Toyota Boshoku Bawal plant.\n\nLast 180 days of spare-part consumption: {{ JSON.stringify($(\u0027Q: Consumption (180d)\u0027).all().map(x =\u003e x.json)) }}\n\nLast 90 days of breakdowns (maintenance tickets): {{ JSON.stringify($(\u0027Q: Recent Breakdowns\u0027).all().map(x =\u003e x.json)) }}\n\nLast 90 days of recovery action patterns: {{ JSON.stringify($(\u0027Q: Recovery Patterns\u0027).all().map(x =\u003e x.json)) }}\n\nReturn up to 10 forecasts (most urgent first). For each, predict the failure date, urgency, and recommended quantity to order.\n\nReturn JSON: {forecasts: [{part_id, part_name, machine_id, predicted_failure_date (YYYY-MM-DD), days_until_failure, confidence (0..1), reasoning (one sentence), recommended_action, order_quantity, urgency (critical|high|normal)}]}","hasOutputParser":true,"options":{}},"id":"1baad8c0-b069-4dde-b5f0-4cf81bf326ae","name":"Spare Forecast AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[960,320]},{"parameters":{"model":{"__rl":true,"mode":"list","value":"llama-3.3-70b-versatile"},"options":{"baseURL":"https://api.groq.com/openai/v1","temperature":0.2,"maxTokens":3000}},"id":"57d70e62-62e0-42b8-b885-a92bd204f0ad","name":"Groq Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[880,540],"credentials":{"openAiApi":{"id":"MES-GROQ","name":"MES Groq"}}},{"parameters":{"schemaType":"fromJson","jsonSchemaExample":"{\"forecasts\":[{\"part_id\":\"HYD-VALVE-21\",\"part_name\":\"Hydraulic valve assy 21\",\"machine_id\":\"YNC-L6\",\"predicted_failure_date\":\"2026-06-04\",\"days_until_failure\":15,\"confidence\":0.78,\"reasoning\":\"Consumed 4x in last 60d; same machine had 3 recovery failures last week\",\"recommended_action\":\"Order 2 units; schedule replacement during shift C\",\"order_quantity\":2,\"urgency\":\"high\"}]}"},"id":"52b571a3-d2bd-4f4d-bf4b-15beb6b6e1e4","name":"Spare Forecast Schema","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[1080,540]},{"parameters":{"fieldToSplitOut":"output.forecasts","options":{}},"id":"b31412c1-05fb-48bf-85c7-1980039431e4","name":"Split Forecasts","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1200,320]},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"mode":"name","value":"spare_forecasts"},"columns":{"mappingMode":"defineBelow","value":{"part_id":"={{ $json.part_id }}","part_name":"={{ $json.part_name }}","machine_id":"={{ $json.machine_id }}","predicted_failure_date":"={{ $json.predicted_failure_date }}","days_until_failure":"={{ $json.days_until_failure }}","confidence":"={{ $json.confidence }}","reasoning":"={{ $json.reasoning }}","recommended_action":"={{ $json.recommended_action }}","raw_agent_output":"={{ JSON.stringify($json) }}"}},"options":{}},"id":"86f23864-ba16-4728-ac9a-b3f09cde1194","name":"Persist Forecast","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1400,240],"credentials":{"postgres":{"id":"MES-POSTGRES","name":"MES Postgres"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"mode":"name","value":"procurement_requests"},"columns":{"mappingMode":"defineBelow","value":{"part_id":"={{ $json.part_id }}","part_name":"={{ $json.part_name }}","quantity":"={{ $json.order_quantity }}","urgency":"={{ $json.urgency }}","reason":"={{ $json.reasoning }}"}},"options":{}},"id":"55ce67a3-31cc-410c-9e7b-201eae66eda9","name":"Create Procurement Request","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1400,400],"credentials":{"postgres":{"id":"MES-POSTGRES","name":"MES Postgres"}}},{"parameters":{"resource":"message","select":"channel","channelId":{"__rl":true,"mode":"name","value":"={{ $env.SLACK_CHANNEL_MAINTENANCE }}"},"text":"=:package: *Spare-part forecast generated*\\n{{ $(\"Spare Forecast AI Agent\").item.json.output.forecasts.length }} parts at risk over the next 30 days. Highest urgency: {{ $(\"Spare Forecast AI Agent\").item.json.output.forecasts[0].part_name }} ({{ $(\"Spare Forecast AI Agent\").item.json.output.forecasts[0].urgency }}, eta {{ $(\"Spare Forecast AI Agent\").item.json.output.forecasts[0].days_until_failure }} days).","otherOptions":{}},"id":"73b40c87-305c-48af-8652-b79b1cc8c204","name":"Notify Procurement","type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[1620,320],"credentials":{"slackApi":{"id":"MES-SLACK","name":"MES Slack Bot"}}}],"connections":{"Persist Forecast":{"main":[[{"node":"Notify Procurement","type":"main","index":0}]]},"Merge Signals":{"main":[[{"node":"Spare Forecast AI Agent","type":"main","index":0}]]},"Spare Forecast Schedule":{"main":[[{"node":"Q: Consumption (180d)","type":"main","index":0},{"node":"Q: Recent Breakdowns","type":"main","index":0},{"node":"Q: Recovery Patterns","type":"main","index":0}]]},"Spare Forecast AI Agent":{"main":[[{"node":"Split Forecasts","type":"main","index":0}]]},"Spare Forecast Schema":{"ai_outputParser":[[{"node":"Spare Forecast AI Agent","type":"ai_outputParser","index":0}]]},"Q: Consumption (180d)":{"main":[[{"node":"Merge Signals","type":"main","index":0}]]},"Groq Model":{"ai_languageModel":[[{"node":"Spare Forecast AI Agent","type":"ai_languageModel","index":0}]]},"Q: Recovery Patterns":{"main":[[{"node":"Merge Signals","type":"main","index":2}]]},"Q: Recent Breakdowns":{"main":[[{"node":"Merge Signals","type":"main","index":1}]]},"Split Forecasts":{"main":[[{"node":"Persist Forecast","type":"main","index":0},{"node":"Create Procurement Request","type":"main","index":0}]]}},"active":false,"settings":{"executionOrder":"v1","timezone":"Asia/Kolkata","executionTimeout":300,"saveDataErrorExecution":"all","saveDataSuccessExecution":"none","saveManualExecutions":true,"saveExecutionProgress":false},"pinData":{},"meta":{},"tags":[]}
