ops/n8n/workflow.bottleneck.json
{"name":"AI Bottleneck Detector","nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":30}]}},"id":"a26afc67-8fd4-4b49-9bbf-232576f565d9","name":"Bottleneck Schedule","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[240,320]},{"parameters":{"language":"javaScript","jsCode":"const now = new Date();\nconst start = new Date(now.getTime() - 60 * 60 * 1000);\nreturn [{ json: { window_start: start.toISOString(), window_end: now.toISOString() }}];"},"id":"1f241646-a7d0-46e0-8c0d-14c77f38ba17","name":"Compute Window","type":"n8n-nodes-base.code","typeVersion":2,"position":[440,320]},{"parameters":{"operation":"executeQuery","query":"SELECT station_id, COUNT(*) AS cycles, AVG(cycle_time_s) AS avg_ct_s, MAX(cycle_time_s) AS max_ct_s, SUM(ng_count) AS ng FROM production_cycles WHERE end_at BETWEEN $1 AND $2 GROUP BY station_id ORDER BY avg_ct_s DESC;","options":{"queryReplacement":"={{ $json.window_start }},{{ $json.window_end }}"}},"id":"110b6fd6-4437-4baa-b0d7-36d9408bd177","name":"Q: Station Cycle Times","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[680,200],"credentials":{"postgres":{"id":"MES-POSTGRES","name":"MES Postgres"}}},{"parameters":{"operation":"executeQuery","query":"SELECT component, target_id, COUNT(*) AS n, COUNT(*) FILTER (WHERE status = \u0027failed\u0027) AS failures FROM recovery_log WHERE occurred_at BETWEEN $1 AND $2 GROUP BY component, target_id ORDER BY failures DESC LIMIT 20;","options":{"queryReplacement":"={{ $(\"Compute Window\").item.json.window_start }},{{ $(\"Compute Window\").item.json.window_end }}"}},"id":"385a7f28-281d-4088-9e9e-3616393a3d98","name":"Q: Recovery Pressure","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[680,320],"credentials":{"postgres":{"id":"MES-POSTGRES","name":"MES Postgres"}}},{"parameters":{"operation":"executeQuery","query":"SELECT camera_id, verdict, COUNT(*) AS n FROM video_inspections WHERE inspected_at BETWEEN $1 AND $2 GROUP BY camera_id, verdict ORDER BY n DESC LIMIT 20;","options":{"queryReplacement":"={{ $(\"Compute Window\").item.json.window_start }},{{ $(\"Compute Window\").item.json.window_end }}"}},"id":"54412936-309c-44f1-b6f5-aaf4b9fd83a9","name":"Q: Camera NG Rate","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[680,440],"credentials":{"postgres":{"id":"MES-POSTGRES","name":"MES Postgres"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","numberInputs":3,"options":{}},"id":"ce50c854-c945-4e2b-b134-93a397415ec9","name":"Merge Signals","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[920,320]},{"parameters":{"promptType":"define","text":"You are analyzing a 60-minute production window at the Toyota Boshoku Bawal plant.\n\nStation cycle times: {{ JSON.stringify($(\u0027Q: Station Cycle Times\u0027).all().map(x =\u003e x.json)) }}\nRecovery actions in window: {{ JSON.stringify($(\u0027Q: Recovery Pressure\u0027).all().map(x =\u003e x.json)) }}\nCamera inspection results: {{ JSON.stringify($(\u0027Q: Camera NG Rate\u0027).all().map(x =\u003e x.json)) }}\n\nIdentify the SINGLE biggest bottleneck. Be specific: name the station, name the factor (hydraulic_lag / operator_idle / camera_lag / queue_congestion / network / other), estimate the production loss for the NEXT 2 HOURS at the current rate, and return 1-3 prioritized recommendations.\n\nTarget CT for a station is 20s. Anything above 24s is degraded; above 30s is critical.","hasOutputParser":true,"options":{}},"id":"94d21113-0a7b-4a3c-9ef8-856d2e36ae4f","name":"Bottleneck AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1160,320]},{"parameters":{"model":{"__rl":true,"mode":"list","value":"llama-3.3-70b-versatile"},"options":{"baseURL":"https://api.groq.com/openai/v1","temperature":0.2,"maxTokens":2000}},"id":"292627ad-b898-433d-bf06-d761f262ed02","name":"Groq Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[1080,540],"credentials":{"openAiApi":{"id":"MES-GROQ","name":"MES Groq"}}},{"parameters":{"schemaType":"fromJson","jsonSchemaExample":"{\"slowest_station\":\"ST-04\",\"bottleneck_factor\":\"hydraulic_lag\",\"impact_summary\":\"Station ST-04 averaged 28s CT vs 20s target; hydraulic pressure logs show 14% sag at peak load\",\"projected_loss_parts\":370,\"projected_loss_currency\":18500,\"confidence\":0.78,\"recommendations\":[{\"priority\":\"high\",\"action\":\"Run hydraulic pressure diagnostic on ST-04 within 30 min\"},{\"priority\":\"medium\",\"action\":\"Rebalance load: send next 50 cycles to ST-05\"}]}"},"id":"51a96375-c163-445d-9b3c-be20b207805f","name":"Bottleneck Schema","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[1280,540]},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"mode":"name","value":"bottleneck_analyses"},"columns":{"mappingMode":"defineBelow","value":{"window_start":"={{ $(\"Compute Window\").item.json.window_start }}","window_end":"={{ $(\"Compute Window\").item.json.window_end }}","slowest_station":"={{ $json.output.slowest_station }}","bottleneck_factor":"={{ $json.output.bottleneck_factor }}","impact_summary":"={{ $json.output.impact_summary }}","projected_loss_parts":"={{ $json.output.projected_loss_parts }}","projected_loss_currency":"={{ $json.output.projected_loss_currency }}","confidence":"={{ $json.output.confidence }}","recommendations":"={{ JSON.stringify($json.output.recommendations) }}","raw_agent_output":"={{ JSON.stringify($json.output) }}"}},"options":{}},"id":"1b282d2e-b78c-4e6c-bfac-973eab45032b","name":"Persist Analysis","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1400,320],"credentials":{"postgres":{"id":"MES-POSTGRES","name":"MES Postgres"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"f0af8365-f6c1-4e33-9452-19cc00f64132","operator":{"type":"number","operation":"gte"},"leftValue":"={{ $(\"Bottleneck AI Agent\").item.json.output.confidence }}","rightValue":0.6}],"combinator":"and"},"options":{}},"id":"55692c65-3c6d-4e31-b657-68da649fad07","name":"Severity Gate","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1620,320]},{"parameters":{"resource":"message","select":"channel","channelId":{"__rl":true,"mode":"name","value":"={{ $env.SLACK_CHANNEL_HIGH }}"},"text":"=:warning: *Bottleneck detected*  Station: {{ $(\"Bottleneck AI Agent\").item.json.output.slowest_station }} ({{ $(\"Bottleneck AI Agent\").item.json.output.bottleneck_factor }})\\nImpact: {{ $(\"Bottleneck AI Agent\").item.json.output.impact_summary }}\\nProjected loss (next 2h): {{ $(\"Bottleneck AI Agent\").item.json.output.projected_loss_parts }} parts / INR {{ $(\"Bottleneck AI Agent\").item.json.output.projected_loss_currency }}\\nTop action: {{ $(\"Bottleneck AI Agent\").item.json.output.recommendations[0].action }}","otherOptions":{}},"id":"5ebde5c9-0ee1-47b6-b36c-a2237525f8a7","name":"Alert Slack","type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[1840,240],"credentials":{"slackApi":{"id":"MES-SLACK","name":"MES Slack Bot"}}}],"connections":{"Bottleneck AI Agent":{"main":[[{"node":"Persist Analysis","type":"main","index":0}]]},"Merge Signals":{"main":[[{"node":"Bottleneck AI Agent","type":"main","index":0}]]},"Persist Analysis":{"main":[[{"node":"Severity Gate","type":"main","index":0}]]},"Severity Gate":{"main":[[{"node":"Alert Slack","type":"main","index":0}]]},"Q: Recovery Pressure":{"main":[[{"node":"Merge Signals","type":"main","index":1}]]},"Bottleneck Schedule":{"main":[[{"node":"Compute Window","type":"main","index":0}]]},"Q: Camera NG Rate":{"main":[[{"node":"Merge Signals","type":"main","index":2}]]},"Compute Window":{"main":[[{"node":"Q: Station Cycle Times","type":"main","index":0},{"node":"Q: Recovery Pressure","type":"main","index":0},{"node":"Q: Camera NG Rate","type":"main","index":0}]]},"Groq Model":{"ai_languageModel":[[{"node":"Bottleneck AI Agent","type":"ai_languageModel","index":0}]]},"Q: Station Cycle Times":{"main":[[{"node":"Merge Signals","type":"main","index":0}]]},"Bottleneck Schema":{"ai_outputParser":[[{"node":"Bottleneck AI Agent","type":"ai_outputParser","index":0}]]}},"active":false,"settings":{"executionOrder":"v1","timezone":"Asia/Kolkata","executionTimeout":300,"saveDataErrorExecution":"all","saveDataSuccessExecution":"none","saveManualExecutions":true,"saveExecutionProgress":false},"pinData":{},"meta":{},"tags":[]}
