ops/n8n/workflow.why-failed.json
{"name":"Why Machine Failed - AI Explainer","nodes":[{"parameters":{"httpMethod":"POST","path":"c2840701-9756-42d0-a3ba-e70bbe0e650c","options":{},"responseMode":"responseNode"},"id":"7df9b8a5-cabf-486f-85a4-0aa2642be527","name":"Why-Failed Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[240,320],"webhookId":"c13a2a9f-1083-4db2-b3f1-c475f50a119a"},{"parameters":{"operation":"executeQuery","query":"SELECT id, service, severity, category, root_cause, recommended_action, metrics_snapshot, detected_at FROM incidents WHERE id = $1 LIMIT 1;","options":{"queryReplacement":"={{ $json.body.incident_id }}"}},"id":"c956dd61-d6ec-42a4-bbd5-c77b0555a0a2","name":"Fetch Incident","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[480,240],"credentials":{"postgres":{"id":"MES-POSTGRES","name":"MES Postgres"}}},{"parameters":{"operation":"executeQuery","query":"SELECT \u0027recovery\u0027 AS kind, component AS source, status AS state, occurred_at AS at FROM recovery_log WHERE occurred_at BETWEEN (NOW() - INTERVAL \u002715 min\u0027) AND NOW() UNION ALL SELECT \u0027error\u0027 AS kind, workflow_id AS source, node_name AS state, occurred_at AS at FROM workflow_errors WHERE occurred_at BETWEEN (NOW() - INTERVAL \u002715 min\u0027) AND NOW() ORDER BY at DESC LIMIT 30;","options":{}},"id":"3639d47a-a169-49fc-be58-e703cb3117c3","name":"Fetch Recent Context","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[480,400],"credentials":{"postgres":{"id":"MES-POSTGRES","name":"MES Postgres"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","numberInputs":2,"options":{}},"id":"5c0b8cde-09a7-435b-bacb-b77b5de98039","name":"Merge Incident + Context","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[720,320]},{"parameters":{"promptType":"define","text":"You are a senior reliability engineer at Toyota Boshoku Bawal. Read the incident + the 15 minutes of context that surrounded it, and explain in plain English WHY the machine/service failed. Be specific. Cite the data.\n\nIncident: {{ JSON.stringify($(\u0027Fetch Incident\u0027).item.json) }}\nContext (recovery + workflow errors within 15 min): {{ JSON.stringify($(\u0027Fetch Recent Context\u0027).all().map(x =\u003e x.json)) }}\n\nOutput a JSON object with:\n- narrative          (one paragraph, plain English, no jargon)\n- factors            ([{factor, weight 0..1, evidence}])\n- confidence         (0..1)\n- suggested_action   (one specific next step)","hasOutputParser":true,"options":{}},"id":"766ef5e3-6cfa-4a6d-93c8-82c9b97661f7","name":"Why-Failed AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[960,320]},{"parameters":{"model":{"__rl":true,"mode":"list","value":"llama-3.3-70b-versatile"},"options":{"baseURL":"https://api.groq.com/openai/v1","temperature":0.3,"maxTokens":2000}},"id":"b7cbc218-7637-4ba3-a8cd-60275dcac83c","name":"Groq Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[880,540],"credentials":{"openAiApi":{"id":"MES-GROQ","name":"MES Groq"}}},{"parameters":{"schemaType":"fromJson","jsonSchemaExample":"{\"narrative\":\"Machine YNC-L6 failed because hydraulic pressure dropped 14% in the 90 seconds before the cycle-time alert, while the operator was idle (no key-press for 4 minutes). The Triage Agent already flagged hydraulics; this confirms it.\",\"factors\":[{\"factor\":\"hydraulic pressure drop\",\"weight\":0.7,\"evidence\":\"PLC log line 14:32:08 pressure 142 -\u003e 122 bar\"}],\"confidence\":0.83,\"suggested_action\":\"Replace hydraulic accumulator on YNC-L6 within 48h; verify operator-presence sensor.\"}"},"id":"b30cf25f-b09a-4fe3-8107-4e2727a33d61","name":"Why-Failed Schema","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[1080,540]},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"mode":"name","value":"failure_explanations"},"columns":{"mappingMode":"defineBelow","value":{"incident_id":"={{ $(\"Fetch Incident\").item.json.id }}","narrative":"={{ $json.output.narrative }}","factors":"={{ JSON.stringify($json.output.factors) }}","confidence":"={{ $json.output.confidence }}","suggested_action":"={{ $json.output.suggested_action }}","raw_agent_output":"={{ JSON.stringify($json.output) }}"}},"options":{}},"id":"52c13411-a200-4d65-b542-a0e8afcca1e9","name":"Persist Explanation","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1200,320],"credentials":{"postgres":{"id":"MES-POSTGRES","name":"MES Postgres"}}},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ok:true, incident_id: $(\"Fetch Incident\").item.json.id, narrative: $(\"Why-Failed AI Agent\").item.json.output.narrative, confidence: $(\"Why-Failed AI Agent\").item.json.output.confidence}) }}","options":{}},"id":"78538089-cdf4-43da-98d7-498264b5d178","name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1440,320]}],"connections":{"Fetch Recent Context":{"main":[[{"node":"Merge Incident + Context","type":"main","index":1}]]},"Groq Model":{"ai_languageModel":[[{"node":"Why-Failed AI Agent","type":"ai_languageModel","index":0}]]},"Persist Explanation":{"main":[[{"node":"Respond","type":"main","index":0}]]},"Why-Failed Schema":{"ai_outputParser":[[{"node":"Why-Failed AI Agent","type":"ai_outputParser","index":0}]]},"Merge Incident + Context":{"main":[[{"node":"Why-Failed AI Agent","type":"main","index":0}]]},"Fetch Incident":{"main":[[{"node":"Merge Incident + Context","type":"main","index":0}]]},"Why-Failed Webhook":{"main":[[{"node":"Fetch Incident","type":"main","index":0},{"node":"Fetch Recent Context","type":"main","index":0}]]},"Why-Failed AI Agent":{"main":[[{"node":"Persist Explanation","type":"main","index":0}]]}},"active":false,"settings":{"executionOrder":"v1","timezone":"Asia/Kolkata","executionTimeout":300,"saveDataErrorExecution":"all","saveDataSuccessExecution":"none","saveManualExecutions":true,"saveExecutionProgress":false},"pinData":{},"meta":{},"tags":[]}
